

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Navigation */

nav{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:#f2f2f2;
    vertical-align: baseline;
}

nav ul{
    float: right;
    list-style-type: none;
    margin: 0;
    padding-right: 5%;
    overflow: hidden;
}

nav ul li{
    display: inline;
    padding: 10px 10px;
    text-align:center;
}

nav h2{ 
    font-weight:1000;
    font-family:'Playfair Display', serif;
    display: inline;
    padding-left: 10%;
}

nav ul li a{
    text-decoration: none;
    font-family:'Cabin', sans-serif;    
    color:black;
    font-weight: 800;
}

nav ul li a:hover{
    color:grey;    
}

nav ul li a:active{
    color:darkgrey;
}


/* Dog Section */

#dog-content{
    position:relative;
}

#dogimg {
    width: 100%;
    
}

#dogtext{
    display: block;
    position: absolute;
    top: 25%;
    left: 120px;
    bottom: 25%;
    right: 50%;
    background-color:#f2f2f2;
    overflow: auto;   
    padding: 10px 0px;
    min-width: 500px;
}

#dogtext h1{
    font-weight:bold;
    font-family:'Playfair Display', serif;
    display: block;
    text-align:center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2.5rem;
}

#dogtext p{
    font-family:'Cabin', sans-serif;
    margin-left:10%;
    margin-right:10%;
    line-height: 2.0rem;
    padding-bottom:10px;
    font-size: 120%;
}

/* Welcome Section */

#welcome-content{
  max-width:100%;
  min-width: 20%;
  
  text-align:center;
  position:relative;
  background-color:#f2f2f2;

}

#welcomeCenter div a{
    text-decoration: none;
    color:black;
}

#welcome-content h2{
    font-family:'Playfair Display',serif;
    font-weight:bold;
    margin:0;
    padding-top:4%;
    padding-bottom:2%;
}

#welcomeLeft, #welcomeRight{
    display:inline-block;    
    font-size: 300%;        
}

#welcomeLeft{
    position:relative;
    bottom:75px;
    margin-left:auto;
    padding-right:10%;
    font-family: 'Cabin',sans-serif;
   
}

#welcomeRight{
    position: relative;
    bottom: 75px;
    padding-left:10%;  
    margin-right:auto;
    font-family: 'Cabin',sans-serif;

}

#welcomeimg{
    max-width:50%;
    min-width:5%;
}

#welcomeDescription{
    font-family: 'Cabin', sans-serif;
    font-weight:bold;
    padding-bottom:1%;
}

#welcomeDate{
    font-family: 'Playfair Display',serif;
    font-style:italic;
    padding-bottom: 4%;
}

/* Grid Section */

#grid-content{
    background-color:white;
}

#gridContainer{
    display: inline-block;
    max-width: 80%;
    margin: 5% 10%;
    
    text-align: center;
    position: relative;
}

.gridCell{
    position:relative;
    max-width:40%;
    min-width:300px;
    margin: 1% 1%;
    display: inline-block;
    background-color:#f2f2f2;   
}

.gridImg{
    height:auto;
    width:120%;
   max-width:100%;
}

.gridText p{
   padding-bottom: 4%; 
   padding-left: 3%;
   padding-right: 3%;
   max-width: 100%;
   line-height: 1.5em;
   font-family: 'Cabin', sans-serif;
}

.gridText h2{
    font-family: 'Playfair Display', serif;
    padding-left:3%;
    max-width: 100%;    
    font-weight:bold;
}

.gridText a{
    font-family:'Cabin', sans-serif;    
    text-decoration: none;
    color:darkred;
    padding-left: 3%;
    padding-top:5px;
    font-weight: bold;
    

}

.gridText{
    text-align:left;
    padding: 3%;
}

.label{
    position: relative;
    display:inline-block;
    text-align:left;
    left:35%;
    top:-10px;
    background-color:darkred;
    padding:1%;
    color:white;
    font-family:'Cabin', sans-serif;             

}

/* Info, Navigation, Email */

#info-content{
    background-color:rgb(70, 70, 70);
    color:white;
}

#infoRow{
    max-width: 65%;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    align-items: baseline;
    align-content:stretch;
}

.flexColumn{
    padding: 4% 1%;
    word-wrap: unset;
}

#infoColumnText{
    max-width: 25%;
    padding-right:5%;
    min-width:200px;
}

#infoColumnLinks{
    max-width: 15%;
    padding-right: 8%;
    min-width: 50px;
}

#infoColumnSubscribe{
    max-width: 50%;
    min-width:210px;
    
}

#infoColumnLinks ul li a{
    text-decoration: none;
    font-family:'Cabin', sans-serif;    
    color:white;
    font-weight: 800;
    
}

#infoColumnLinks ul li a:hover{
    color:grey;    
}

#infoColumnLinks ul li a:active{
    color:darkgrey;
}

#infoColumnLinks ul li{
   
    padding: 3px 5px;
    text-align:left;
}

/*Normally Unacceptable */
h4{
    margin: 0 0;
    padding: 3% 0;
    font-family:"Cabin", sans-serif;
}

#infoRow div p{
    line-height: 1.5em;
    padding-bottom: 3%;
    font-family:"Cabin", sans-serif;
}

#inputEmail{
    line-height:1.5em;
    padding:5px;
    max-width: 250px;
    
}

#buttonEmail{
    padding: 0.5 em;
    border: 0;
    padding: 9px;
    background-color:darkred;
    color:white;
    font-family:'Cabin',sans-serif;
    opacity: 0.85;
    
}

#buttonEmail:hover{
    opacity: 1;
}

#footerContent{
    display: inline-block;
    background-color:black;
    color:white;
    width:60%;
    padding: 2% 20%;
}

#footerLeft{
    float:left;
    font-family: 'Cabin',sans-serif;
}

#footerRight{
    float:right;
    
}

#footerRight i{
    padding: 0 4px;
}

#footerRight a{
    text-decoration: none;
    color:white;
}




::-webkit-input-placeholder {
    font-style:italic;
  }
  ::-moz-placeholder {
    font-style:italic;
  }
  :-ms-input-placeholder {
    font-style:italic;
  }
  ::placeholder {
    font-style:italic;
  }












@media screen and (max-width: 800px){
    nav ul, nav ul li {display: block; float: none; padding: 1% 0;}

    nav h2 {display: block;text-align:center; padding:0;}

    #dogtext{
        position:absolute;
        left:10%;
        right:10%;
        background-color:white;
        opacity: 0.8;
        overflow: auto;
        min-width: 200px;
    }

    #dogtext h1{
        font-size:1.5em;
    }

    #dogtext p{
        line-height:1.5em;
        font-size:0.8em;
    }

    .gridCell{
        max-width: 80%;
    }
}