html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



nav{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:white;
    
}

nav ul{
    float: right;
    list-style-type: none;
    margin: 0;
    padding-right: 5%;
    overflow: hidden;
}

nav ul li{
    display: inline;
    padding: 10px 10px;
    text-align:center;
}

nav h2{ 
    display: inline;
    padding-left: 10%;
}



#dog-content{
    position:relative;
}

#dogimg {
    width: 100%;
    
}

#dogtext{
    display: block;
    position: absolute;
    top: 25%;
    left: 120px;
    right: 50%;
    bottom: 25%;
    background-color:white;
    overflow: auto;
    max-height: 60%;
    padding: 10px 0px;
    min-width: 500px;
}

#dogtext h1{
    display: block;
    text-align:center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2.5rem;
}

#dogtext p{

    margin-left:10%;
    margin-right:10%;
    line-height: 1.6rem;
    padding-bottom:10px;

}

@media screen and (max-width: 700px){
    nav ul, nav ul li {display: block; float: none;}

    nav h2 {display: block;text-align:center; padding:0;}

    #dogtext{
        position:aboslute;
        left:10%;
        right:10%;
        background-color:white;
        opacity: 0.8;
        overflow: auto;
        min-width: 315px;


    }

}